<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <gmailsmtpapp>
                <active>1</active>
                <name>localhost</name>
                <ssl>ssl</ssl>
                <auth>LOGIN</auth>
                <smtphost>smtp.gmail.com</smtphost>
                <smtpport>465</smtpport>
                <set_return_path>1</set_return_path>
                <set_reply_to>1</set_reply_to>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </gmailsmtpapp>
        </system>
    </default>
</config>
