<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- For Magento < 2.2 -->
	<preference for="\Magento\Framework\Mail\Transport" type="MagePal\GmailSmtpApp\Model\Transport"/>
	<type name="MagePal\GmailSmtpApp\Model\Transport">
		<plugin sortOrder="100" name="magePalGmailSmtpAppTransport" type="MagePal\GmailSmtpApp\Plugin\Mail\TransportPlugin"/>
	</type>

	<!-- For Magento Eq 2.2 -->
	<type name="\Magento\Framework\Mail\TransportInterface">
		<plugin sortOrder="100" name="magePalGmailSmtpAppTransportInterface" type="MagePal\GmailSmtpApp\Plugin\Mail\TransportPlugin"/>
	</type>
</config>

